@import "variables";
@import "mixins";

.page {
  h2 {
    .word-wrap;
    font-size:21px;
    font-family:'Palatino', 'Georgia', serif;
    font-weight:normal;
    line-height:29px;
    margin-bottom:@baseLineHeight / 2;
  }
  &.nope a span {
    color:@darkest_grey;
    background:none;
  }
  &.yep a span {
    color:@black;
  }
  &.nope a {
    color:@red;
    text-decoration:line-through;
  }
  .excerpt {
    color:@medium_light_grey;
    font-family:'Georgia', serif;
    font-style:italic;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.has_comments {
  .speech_bubble(@purple, @white, bottom-left);
  padding:0 6px;
  margin:0 0 10px;
  min-width:10px;
  text-align:center;
  font-size:11px;
  &:hover {
    text-decoration:none;
    color:@white;
    background:@dark_purple;
    .r_tri { border-left-color:@dark_purple; }
  }
}
