@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";
@import "variables";
@import "mixins";

.page {
  h2 {
    font-size:21px;
    font-family:'Palatino', 'Georgia', serif;
    font-weight:normal;
    line-height:29px;
    margin-bottom:@baseLineHeight / 2;
  }
  &.nope a span {
    color:@darkest_grey;
    background:none;
  }
  &.yep a span {
    color:@black;
  }
  &.nope a {
    color:@red;
    text-decoration:line-through;
  }
  .excerpt {
    color:@medium_light_grey;
    font-family:'Georgia', serif;
    font-style:italic;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.has_comments {
  background:@purple;
  color:@white;
  .border-radius(2px);
  padding:0 6px;
  float:left;
  position:relative;
  display:block;
  margin:0 0 10px;
  min-width:10px;
  text-align:center;
  font-size:11px;
  -webkit-font-smoothing: subpixel-antialiased;
  &:hover {
    text-decoration:none;
    color:@white;
    background:@dark_purple;
    .triangle {
      border-color: @dark_purple transparent transparent transparent;
    }
  }
  .triangle {
    border-color: @purple transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 0;
    height:0; width:0;
    position:absolute;
    bottom:-5px;
    left:5px;
  }
}
