$blue: #B3FEFF;
$dark_blue: #00FBFF;

.posts_group {
  margin:0 0 40px;
}

.posts_group .posts {
  margin:10px 0 0;
}

.post h3 a {
  background:none;
}
.post.referred_post a.external {
  background:#EEE;
}
.post.yep .body:before, .posts_group .yep .page:before {
  content:'✓';
}
.post.nope .body, .posts_group .nope .page {
  text-decoration:line-through;
}
.post.new {
  opacity:0.3;
}

.post .plusnav a {
  padding:0 5px;
}
.info {
  background:none;
  font-weight:bold;
}
  .info:hover {
    background:$blue;
    text-decoration:none;
  }
