$blue: #B3FEFF;
$dark_blue: #00FBFF;

.post.referred_post a.external {
  background:#EEE;
}
.post.yep .body:before {
  content:'✓';
}
.post.nope .body {
  text-decoration:line-through;
}
.post.new {
  opacity:0.3;
}
.info {
  background:none;
  font-weight:bold;
}
  .info:hover {
    background:$dark_blue;
    text-decoration:none;
  }
