$blue: #B3FEFF;
$dark_blue: #00FBFF;

.post {
  margin:0 0 20px;
}

.post h2 a {
  background:none;
}
.post.referred_post a.external {
  background:#EEE;
}
.post.yep .body:before {
  content:'✓';
}
.post.nope .body {
  text-decoration:line-through;
}
.post.new {
  opacity:0.3;
}

.post .plusnav a {
  padding:0 5px;
}
.info {
  background:none;
  font-weight:bold;
}
  .info:hover {
    background:$blue;
    text-decoration:none;
  }
