@import "variables";

.provider {
  font-style:normal;
  display:inline-block;
  text-decoration:none;
  &.twitter {
    background-color:@twitter_light;
    .glyph {
      color:@twitter;
      font-size:1.25em;
    }
  }
  &.facebook {
    background-color:@facebook_light;
    .glyph {
      color:@facebook;
      background:@white;
    }
  }
  &.instapaper {
    background-color:@light_grey;
    .icon {
      padding:0 5px;
      font-family:Georgia, serif;
      font-weight:bold;
      background:@instapaper;
    }
  }
  &.tumblr {
    background-color:@light_grey;
    .glyph {
      color:@tumblr;
    }
  }
  &.readability {
    background:#f4f4ec;
    .icon {
      color:@readability;
      font-size:20px;
      line-height:0;
    }
  }
}
a:hover {
  .provider {
    text-decoration:none;
    &.twitter {
      background-color:@twitter_lightest;
    }
    &.facebook {
      background-color:@facebook_lightest;
    }
  }
}
.disconnected {
  &, a, .provider {
    color:#555;
  }
 .admin {
    font-size:12px;
  }
  .provider, a:hover .provider {
    background:@light_grey;
  }
  .glyph {
    color:@dark_grey;
  }
  .provider.instapaper .icon {
    background:#AAA;
    color:@white;
  }
}
