@import "variables";
@import "mixins";

.provider {
  font-style:normal;
  display:inline-block;
  padding:0 5px;
  .border-radius(3px);
  text-decoration:none;
  &:hover { text-decoration:none; }
  &.email {
    background-color:@light_grey;
    &:hover { background-color: lighten(@light_grey, 3%); }
    .glyph {
      background:@white;
      font-size:0.75em;
    }
  }
  &.twitter {
    background-color:@twitter_light;
    &:hover { background-color:@twitter_lightest; }
    .glyph {
      color:@twitter;
      font-size:1.25em;
    }
  }
  &.facebook {
    background-color:@facebook_light;
    &:hover { background-color:@facebook_lightest; }
    .glyph {
      color:@facebook;
      background:@white;
    }
  }
  &.instapaper {
    background-color:@light_grey;
    .icon {
      padding:0 5px;
      font-family:@georgia;
      font-weight:bold;
      background:@instapaper;
    }
  }
  &.tumblr {
    background-color:@light_grey;
    .glyph {
      color:@tumblr;
    }
  }
  &.readability {
    background:#f4f4ec;
    .icon {
      color:@readability;
      font-size:20px;
      line-height:0;
    }
  }
  &.evernote {
    background:@light_grey;
    .icon {
      padding:0 4px;
      background:@evernote;
      color:@white;
      font-family:courier;
      font-weight:bold;
    }
  }
  &.kippt {
    background-color:@light_grey;
    .icon {
      color:@white;
      font-weight:bold;
      padding:0 4px;
      background:@kippt;
    }
  }
  &.pocket {
    background-color:@light_grey;
    .icon {
      color:@white;
      padding:0 3px;
      background-color:@pocket;
      .border-radius(0 0 7px 7px);
    }
  }
  &.flattr {
    background:@light_grey;
    .icon {
      padding:0 4px;
      color:@white;
      font-weight:bold;
      .border-radius(6px 0 6px 0);
      background: #ff8b32; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #ff8b32 0%, #ff6e00 50%, #95d321 51%, #7cbf00 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff8b32), color-stop(50%,#ff6e00), color-stop(51%,#95d321), color-stop(100%,#7cbf00)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg,  #ff8b32 0%,#ff6e00 50%,#95d321 51%,#7cbf00 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg,  #ff8b32 0%,#ff6e00 50%,#95d321 51%,#7cbf00 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg,  #ff8b32 0%,#ff6e00 50%,#95d321 51%,#7cbf00 100%); /* IE10+ */
      background: linear-gradient(135deg,  #ff8b32 0%,#ff6e00 50%,#95d321 51%,#7cbf00 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b32', endColorstr='#7cbf00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
}

.disconnected {
  &, a, .provider {
    color:#555;
  }
 .admin {
    font-size:12px;
  }
  .provider, a:hover .provider {
    background:@light_grey;
  }
  .glyph {
    color:@dark_grey;
  }
  .provider.instapaper .icon {
    background:#AAA;
    color:@white;
  }
}
