<div id="header_card" class="row r_user r_size_large">
  {{{avatar_html}}}
  <div class="span7">
    <h1>{{display_name}}</h1>
  </div>
  <nav class="span7">
    <a href="/{{username}}/following"{{#viewing_following}} class="active"{{/viewing_following}}>
      <span id="following_count">{{following.size}}</span> Following
    </a>
    <a href="/{{username}}/followers"{{#viewing_followers}} class="active"{{/viewing_followers}}>
      <span id="followers_count">{{followers.size}}</span> Followers
    </a>
    {{#signed_in}}
      {{#is_current_user}}
        - <a href="/users/recommended" class="button">Find People<div class="new_badge">new</div></a>
      {{/is_current_user}}
      {{^is_current_user}}
        - <a rel="tooltip" data-title="Add what {{first_name}} reads to your following feed" href="/{{username}}/{{follow_text}}" class="button follow"><span>{{follow_text_capitalized}}</span> {{first_name}}</a>
      {{/is_current_user}}
    {{/signed_in}}
  </nav>
  <div id="user_places" class="span7 offset1">
    {{location}} {{#link}}{{#location}}-{{/location}} <a href="{{link}}" target="_blank">{{link}}</a>{{/link}}
  </div>
  <div id="user_bio" class="r_bio span7 offset1">
    {{bio}}
    {{^bio}}{{#is_current_user}}
      <a href="/settings/info">Click here to add a bio</a>
    {{/is_current_user}}{{/bio}}
  </div>
</div>
