<div id="header_card" class="row r_user {{^is_current_user}}w_rule{{/is_current_user}}">
  <a href="{{avatar_link_url}}" class="span1 r_avatar" {{#avatar_link_target}}target="{{avatar_link_target}}"{{/avatar_link_target}}>
    <img src="{{avatar_medium}}" alt="avatar">
  </a>
  <div class="span7">
    <h1>{{display_name}}</h1>
  </div>
  <nav class="span7">
    <a href="/{{username}}/following"{{#viewing_following}} class="active"{{/viewing_following}}>
      <span id="following_count">{{following_count}}</span> Following
    </a>
    <a href="/{{username}}/followers"{{#viewing_followers}} class="active"{{/viewing_followers}}>
      <span id="followers_count">{{followers_count}}</span> Followers
    </a>
    {{#is_current_user}}
      - <a href="/users/recommended" class="button">Find People</a>
    {{/is_current_user}}
    {{^is_current_user}}
      - <a rel="tooltip" data-title="Add what {{first_name}} reads to your following feed" href="#" class="button event_follow">
      <span>{{#is_following}}Unfollow{{/is_following}}{{^is_following}}Follow{{/is_following}}</span>
      {{first_name}}
      </a>
      - <a href="#" class="button r_block">
        <span>{{#is_blocking}}Unblock{{/is_blocking}}{{^is_blocking}}Block{{/is_blocking}}</span>
        {{first_name}}
      </a>
    {{/is_current_user}}
  </nav>
  <div id="user_places" class="span6 offset1">
    {{location}} {{#has_link}}{{#has_location}}-{{/has_location}} <a href="{{link}}" target="_blank">{{link}}</a>{{/has_link}}
  </div>
  {{#bio}}
    <div id="user_bio" class="r_bio span6 offset1">{{bio}}</div>
  {{/bio}}
  {{^bio}}{{#is_current_user}}
    <div id="user_bio" class="r_bio span6 offset1">
      <a href="/settings/info">Click here to add a bio</a>
    </div>
  {{/is_current_user}}{{/bio}}
  {{^is_current_user}}{{#rss_path}}
    <div class="span1">
      <a href="{{rss_path}}" class="rss">
        <span class="glyph">r</span> rss
      </a>
    </div>
  {{/rss_path}}{{/is_current_user}}
</div>
