<div id="header_card" class="row r_user r_size_large">
  <a href="{{avatar_link_url}}" class="span1 r_avatar" {{#avatar_link_target}}target="{{avatar_link_target}}"{{/avatar_link_target}}>
    <img src="{{avatar_img_url}}" alt="avatar">
  </a>
  <div class="span7">
    <h1>{{user.display_name}}</h1>
  </div>
  <nav class="span7">
    <a href="/{{user.username}}/following"{{#viewing_following}} class="active"{{/viewing_following}}>
      <span id="following_count">{{user.following.size}}</span> Following
    </a>
    <a href="/{{user.username}}/followers"{{#viewing_followers}} class="active"{{/viewing_followers}}>
      <span id="followers_count">{{user.followers.size}}</span> Followers
    </a>
    {{#signed_in}}
      {{#is_current_user}}
        - <a href="/users/recommended" class="button">Find People<div class="new_badge">new</div></a>
      {{/is_current_user}}
      {{^is_current_user}}
        - <a rel="tooltip" data-title="Add what {{user.first_name}} reads to your following feed" href="/{{user.username}}/{{follow_text}}" class="button follow"><span>{{follow_text}}</span> {{user.first_name}}</a>
      {{/is_current_user}}
    {{/signed_in}}
  </nav>
  <div id="user_places" class="span7 offset1">
    {{user.location}} {{#user.link}}{{#user.location}}-{{/user.location}} <a href="{{user.link}}" target="_blank">{{user.link}}</a>{{/user.link}}
  </div>
  <div id="user_bio" class="r_bio span7 offset1">
    {{user.bio}}
    {{^user.bio}}{{#is_current_user}}
      <a href="/settings/info">Click here to add a bio</a>
    {{/is_current_user}}{{/user.bio}}
  </div>
</div>
