@import "variables";

#header {
  display:none;
}

.r_pages_with_input .r_header {
  .control-group, .form-actions {
    float:left;
  }
  .form-actions {
    margin:0 0 0 10px;
    padding:0;
  }
  .control-group {
    margin:0;
  }
  a {
    text-decoration:underline;
  }
  margin-top:@baseLineHeight;
  padding-bottom:@baseLineHeight*2;
  border-bottom:1px solid @light_grey;
  #model_url {
    width:385px;
  }
  img {
    border-radius:30px;
    margin-top:-5px;
  }
}
