<html>
  <head><title>Reading Redirect</title></head>
<body>
<script type="text/javascript">
  window.opener.Provider.prototype.login.success("<%= message %>", <%= auth_hash.to_json.html_safe %>);
  window.close();
</script>
</body>
