<html>
  <head><title>Reading Redirect</title></head>
<body>
<script type="text/javascript">
  window.opener.Provider.prototype.login.response({"status":"<%= status %>"<% if defined? authResponse %>, "authResponse":<%= authResponse.to_json.html_safe %><% end %><% if defined? auth %>, "auth":<%= auth.to_json.html_safe %><% end %>});
  window.close();
</script>
</body>
