<html>
  <head><title>Reading Redirect</title></head>
<body>
<script type="text/javascript">
  <% if method == "success" %>
    window.opener.Provider.prototype.login.success("<%= message %>", <%= auth_hash.to_json.html_safe %>);
  <% else %>
    window.opener.Provider.prototype.login.failure();
  <% end %>
  window.close();
</script>
</body>
