<div class="r_comment_header">
  <div class="r_author r_user"></div>
  <div class="r_showed_this_to">showed this to</div>
  <div class="r_shown_user r_user">{{{body_html}}}</div>
  {{#if is_owner}}
  <div class="r_comment_actions">
    <a href="#" class="r_destroy">Delete</a>
  </div>
  {{/if}}
</div>
