<div class="r_comment_header">
  <div class="r_author r_user"></div>
  <time datetime="{{updated_at}}"></time>
  <div class="r_comment_actions">
    {{#if is_owner}}<a href="#" class="r_destroy">Delete</a>{{/if}}
    <a href="#" class="r_share">Share</a>
    <a href="{{url}}" class="r_permalink">#</a>
  </div>
</div>
<div class="r_comment_body">
  {{format_comment body}}
</div>
