<div class="r_comment_header">
  <div class="r_author r_user"></div>
  <div class="r_showed_this_to">showed this to MANY</div>
  <div class="r_shown_user r_user">{{format_comment body}}</div>
</div>
<!--  I left off when I was about to write this template

      I also wanted to fix my is_multi_show method b/c it assumes that each mention is also a word. The reality is that mentions don't have to be seperated by spaces. 

      I may just use the "#{@m[0]}" strategy like greg did in is_show
 -->