<div class="row">
  <div class="span7 offset1">
    Apps are awesome
  </div>
</div>

<div class="row">
  <div class="span7 offset1">
  {{#has_tokens}}
    <div id="yield">
      {{>oauth_access_tokens/oauth_access_tokens/template}}
    </div>
  {{/has_tokens}}
  </div>
</div>
