<div class="row intro section">
  <div class="span7 offset1">
    {{#has_tokens}}These apps can access your Reading account.{{/has_tokens}}
    {{^has_tokens}}This is where you'll see apps that can access your Reading account, but you don't have any yet.<br>{{/has_tokens}}
    <br>Interested in creating an app? Visit the <a href="/settings/apps/dev">developer apps page</a>.
  </div>
</div>

<div class="row section">
  <div class="span7 offset1">
  {{#has_tokens}}
    <div id="yield">
      {{>oauth_access_tokens/oauth_access_tokens/template}}
    </div>
  {{/has_tokens}}
  </div>
</div>
