<div class="row intro section">
  <div class="span7 offset1">
    These apps can access your Reading account.
    <br>Interested in creating an app? Visit our <a href="/settings/apps/dev">developer page</a>.
  </div>
</div>

<div class="row section">
  <div class="span7 offset1">
  {{#has_tokens}}
    <div id="yield">
      {{>oauth_access_tokens/oauth_access_tokens/template}}
    </div>
  {{/has_tokens}}
  </div>
</div>
