<div class="row">
  <div class="span6">
    <p>
      -✌- Greg<br>
      http://<%= DOMAIN %>/greg
    </p>
  </div>
</div>

<div id="footer" class="row">
  <div class="span6">
    <p>
      Twitter: <%= link_to nil, 'http://twitter.com/reading' %><br>
      Blog: <%= link_to nil, "http://writing.#{DOMAIN}" %>
    </p>
    <p>
      ## Respond with your address and we'll mail you <%= link_to 'cool stickers!', 'http://t.co/nXFkpGFH' %>
    </p>
  </div>
</div>
