#constructor, #constructor label {
  font-size:15px;
  color:#000;
  line-height:35px;
}
#constructor select, #constructor input, #constructor textarea {
  color:#000;
}
#hooks .span1.icon {
  font-size:18px;
  text-align:right;
}
#constructor input[type='text'] {
  font-size:13px;
  width:110px;
}
#constructor select {
  width:auto;
}
.footnote.btn {
  font-weight:normal;
}
#buttons {
  display:inline-block;
}
