$yellow: #FFFBCC;
$dark_yellow: #FFF461;
$blue: #cdfeff;
$dark_blue: #00FBFF;
$green: #38ff7E;
$dark_green: #79ff30;
$grey: #EEE;

#hooks_blank {
  margin-bottom:23px;
}
#constructor {
  color:#000;
  line-height:35px;
  background: #F5F5F5; /* Old browsers */
  padding:8px 25px 4px 15px;
  border-radius:5px;
}
#constructor label {
  color:#000;
}
#hooks_blank a {
  background:none;
  font-weight:bold;
}
  #hooks_blank a.email {
    text-decoration:underline;
  }
#hooks .icon {
  font-size:18px;
  text-align:right;
}
#constructor input[type='text'] {
  font-size:13px;
  width:110px;
}
#constructor select {
  width:auto;
}
.footnote.btn {
  font-weight:normal;
}
