Messages will be posted to <a href="http://campfirenow.com">Campfire</a> in the following format.
Note: you'll need your API Token from the "My info" screen within Campfire.
<pre>
  Reading "Page Title Here" <a href="http://example.com">http://example.com</a>
</pre>
