<div class="footnote">
Messages posted to your Timeline follow this format:
<pre>
  You read <%= link_to "✌ This is an example page title", "http://example.com" %> via <%= link_to "Reading", "#{ROOT_URL}" %>
</pre>

Messages posted to your Wall follow this format:
<pre>
  You shared a link via <%= link_to "Reading", "#{ROOT_URL}" %>
  ✌ Reading "This is an example page title"
</pre>
</div>
