<div class="footnote">
  Please note: we take no responsibility for the funds you spend through <a href="http://flattr.com/">Flattr</a>.
  We do our best to send them the info you ask us to send them when you ask for it to be sent, but we make no guarantees.
  If you'd like to be absolutely certain that you're getting a fully qualified <a href="http://flattr.com/">Flattr</a> experience, we recommend you use
  the tools they've developed. That being said, this hook should probably work just fine.
</div>
