<div class="footnote">
Messages will be posted to <a href="https://www.hipchat.com">HipChat</a> in the following format.
Note: you'll need an <a href="https://hipchat.com/group_admin/api">API Token</a>.
<pre>
  <%= link_to current_user.display_name, "/#{current_user.username}" %> is reading <%= link_to "Page Title Here", "http://example.com" %>
</pre>
</div>
