<div class="footnote">
  Your API token looks like this:
  <pre>your_username:123456</pre>
  and can be found on your Pinboard settings page, located here:<br>
  <%= link_to 'http://pinboard.in/settings/password', 'http://pinboard.in/settings/password' %>
  <br><br>
  Posts will include the tag 'Reading.am'
</div>
