<div class="footnote">
  Messages will be posted to the <a href="https://www.slack.com">Slack</a> room you specify, as your user, with the following format:
<pre>
  <span style="font-family: sans-serif">✌</span>️ Reading:
  <strong><%= link_to "Page Title Here", "http://example.com" %></strong>
  This is a description of the page, along with any representative images.
</pre>
</div>
