<div class="footnote">
  Messages will be posted to your Facebook timeline.<br>This is an ALPHA FEATURE and you'll need to <%= mail_to "hello@#{DOMAIN}", 'contact us', :subject => 'I want to use OpenGraph', :encode => 'javascript', :class => 'email' %> to be added as a tester before this will work. You've been warned.
</div>
