<div class="footnote">
The following data will be sent via POST or GET to a URL of your choosing each time you add a post:
<pre>
  post[id] - The id of the post
  post[yn] - Whether the user marked the post with "yep" (true) or "nope" (false). Empty means unmarked.
  post[title] - The page title of the post
  post[url] - The url of the post
  post[wrapped_url] - The url of the post routed through Reading for automatic list updates
  post[user][id] - The id of the user who created the post
  post[user][username] - The username of the user who created the post
  post[user][display_name] - The full name (if available) or username of the user who created the post
  post[referrer_post][id] - The id of the post that led the post user to visit the link
  post[referrer_post][user][id] - The id of the user who led the post user to visit the link ('because of')
  post[referrer_post][user][username] - The username of the user who led the post user to visit the link ('because of')
  post[referrer_post][user][display_name] - The display_name of the user who led the post user to visit the link
</pre>
</div>
