<div id="r_wrp">
  <div id="r_icon">&#9996;</div>
  <div id="r_subtext">Loading</div>
  <div id="r_actions">
    <a href="#" id="r_yep">Yep</a> .
    <a href="#" id="r_nope">Nope</a>
    <a href="#" id="r_share">Share</a>
    <a href="#" id="r_toggle">Toggle</a>
    <a href="#" id="r_close">&#10005;</a>
  </div>
</div>
<div id="r_other">&#8258; Readers</div>
