<div class="row">
  <div id="posts" class="span3 module">
    <h3>Posts <span class="count"></span></h3>
  </div>
  <div id="comments" class="span3 module">
    <h3>Comments <span class="count"></span></h3>
  </div>
  <div id="users" class="span2 module">
    <h3>Users <span class="count"></span></h3>
  </div>
</div>
