<div class="r_user r_size_small">
  <a href="{{url}}" class="event_show">
    {{#avatar}}
    <div class="r_avatar">
      <img src="{{avatar}}">
    </div>
    {{/avatar}}
    <div class="r_info">
      <span class="r_name">{{display_name}}</span>
    </div>
  </a>
</div>
