<div class="r_oauth_app row w_rule">
  {{#icon_thumb}}
  <div class="r_avatar span1">
    <a href="{{website}}" class="event_show">
      <img src="{{icon_thumb}}">
    </a>
  </div>
  {{/icon_thumb}}
  <div class="r_info span4">
    <a href="{{website}}">
      <span class="r_name">{{name}}</span>
    </a>
    {{#description}}<br><span class="r_bio">{{description}}</span>{{/description}}
  </div>
  <div class="r_follow_button span2">
  {{#is_current_user}}
    <div class="r_is_you">This is you!</div>
  {{/is_current_user}}
  {{^is_current_user}}
    <div class="event_follow btn {{^is_following}}btn-success{{/is_following}}">
      {{#is_following}}Unfollow{{/is_following}}{{^is_following}}Follow{{/is_following}}
    </div>
  {{/is_current_user}}
  </div>
</div>
