<div class="r_oauth_app">
  {{#icon_thumb}}
  <div class="r_icon span1">
    <a href="{{website}}" class="event_show">
      <img src="{{icon_thumb}}">
    </a>
  </div>
  {{/icon_thumb}}
  <div class="r_info span4">
    <a href="{{website}}">
      <span class="r_name">{{name}}</span>
    </a>
    {{#description}}<br><span class="r_desc">{{description}}</span>{{/description}}
    {{#app_store_url}}<br><a class="r_bio">{{app_store_url}}</a>{{/app_store_url}}
    {{#play_store_url}}<br><a class="r_bio">{{play_store_url}}</a>{{/play_store_url}}
  </div>
</div>
