@import "variables";
@import "twitter/bootstrap/mixins";

.r_reset {
  padding:0;
  margin:0;
  color:@black !important;
  background:none;
  border:none;
  height:auto;
  width:auto;
  font-family:"Helvetica Neue", helvetica, arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  line-height:normal;
  text-align:left;
  text-decoration:none;
  text-shadow:none;
  text-transform:none;
  font-variant:normal;
  letter-spacing:normal;
  list-style:none;
}

#r_iframe, #r_body {
  width:100%;
  height:100%;
  border:0;
  margin:0;
  padding:0;
}

.r_disabled {
  .transition(opacity .2s ease-in-out);
  opacity:.1 !important;
}

#r_am {
  display:none;
  z-index:999999999;
  position:fixed;
  top:15px;
  right:15px;
  &, * { .r_reset; }
  img {
    display:inline-block;
  }
  #r_wrp {
    overflow:hidden;
    height:75px;
    width:50px;
    padding:0 10px;
  }
  #r_wrp, #r_readers, #r_readers li, .r_comment {
    float:right;
    clear:both;
  }
  #r_wrp, #r_readers li {
    background:@yellow;
  }
  #r_icon, #r_subtext {
    text-align:center;
  }
  #r_icon {
    font-size:56px;
    line-height:0;
    margin:26px 0 25px;
  }
  .r_submitted #r_icon {
    color:@yellow !important;
  }
  #r_actions {
    margin:15px 0 0;
    width:150px;
    line-height:32px;
  }
  #r_actions a {
    padding:2px;
  }
  #r_wrp, #r_readers {
    a {
      display:inline-block;
    }
  }
  a:hover, .r_active {
    background:@white;
  }
  #r_actions .r_inactive {
    text-decoration:line-through;
  }
  ul {
    margin:3px 0 0 0;
  }
  li {
    margin:3px 0;
  }
  #r_readers {
    display:none;
  }
  #r_nope {
    margin:0 3px 0 0;
  }
  a#r_share {
    margin:0 3px;
    padding:2px 8px 3px;
    border-left:1px dotted @black;
    border-right:1px dotted @black;
  }
  #r_close {
    margin:0 0 0 3px;
  }
  .r_user a, #r_other {
    padding:0 8px;
    line-height:25px;
  }
  .r_user {
    .r_bio { display:none; }
    a {
      padding-left:0;
    }
    img {
      vertical-align:middle;
      margin:-2px 2px 0 0;
      max-width:25px;
      max-height:25px;
    }
  }
  a.r_tagalong {
    padding:0 5px;
    background:@blue;
    border-right:1px solid @light_blue;
    &:hover {
      background:@light_blue;
    }
  }
  .r_popped_over {
    overflow:hidden;
  }
  .r_quoted {
    color:@black !important;
    background:@ghost_grey;
    &:hover {
      text-decoration:underline;
    }
  }
  #r_comments {
    &, .r_comments_list {
      float:right;
      clear:both;
    }
    .r_comments_list {
      overflow:scroll;
      max-height:350px;
    }
    .r_comment:hover {
      .r_comment_header time { display:none; }
      .r_comment_actions { display:block; }
    }
    .r_uri {
      display:block;
      text-decoration:none;
      margin:5px 0;
      padding:10px;
      .border-radius(3px);
      .r_icon {
        width:16px;
        height:16px;
        vertical-align:middle;
      }
    }
    .r_twitter_tweet {
      .box-shadow(inset 0 0 10px lighten(@twitter, 40%));
      background: lighten(@twitter, 50%);
      &:hover {
        .box-shadow(inset 0 0 10px lighten(@twitter, 35%));
        background: lighten(@twitter, 45%);
      }
      .r_twitter_tweet_info {
        margin:5px 0 0;
        &, span, a { color: darken(@twitter, 15%) !important; }
      }
      .r_twitter_tweet_screen_name {
        text-decoration:underlined;
      }
    }
    .r_github_repo, .r_wikipedia_article {
      .box-shadow(inset 0 0 10px lighten(@github, 10%));
      background: lighten(@github, 15%);
      &:hover {
        .box-shadow(inset 0 0 10px lighten(@github, 5%));
        background: lighten(@github, 10%);
      }
      .r_github_repo_description, .r_wikipedia_article_extract * {
        margin-top:3px;
        color:#888 !important;
      }
    }
    .r_youtube_video, .r_vimeo_video {
      padding:0;
      iframe {
        width:297px;
        height:190px;
      }
    }
    .r_instagram_image {
      text-align:center;
      .box-shadow(inset 0 0 10px lighten(@instagram, 50%));
      background: lighten(@instagram, 60%);
      &:hover {
        .box-shadow(inset 0 0 10px lighten(@instagram, 40%));
        background: lighten(@instagram, 50%);
      }
      .r_instagram_image_info {
        margin-top:10px;
        .r_instagram_image_title {
          color:@instagram !important;
        }
      }
    }
    .r_amazon_product {
      .box-shadow(inset 0 0 10px lighten(@amazon_orange, 35%));
      background: lighten(@amazon_orange, 50%);
      &:hover {
        .box-shadow(inset 0 0 10px lighten(@amazon_orange, 30%));
        background: lighten(@amazon_orange, 45%);
      }
    }
  }
}
.r_quote {
  color: @black !important;
  background-color: rgba(255,255,0,.5);
}

#r_share_menu { &, * { .r_reset; } }
#r_share_menu {
  position:relative;
  z-index:1;
  width:125px;
  margin:150px auto 0;
  li {
    float:left;
    clear:both;
    background:@yellow;
    margin:3px 0;
  }
  a {
    display:inline-block;
    padding:4px 8px;
    line-height:25px;
    color:@white !important;
    font-size:19px;
  }
  .r_Twitter {
    background-color:@twitter;
    &:hover { background-color:darken(@twitter,10%); }
  }
  .r_Facebook {
    background-color:@facebook;
    &:hover { background-color:darken(@facebook,10%); }
  }
  .r_Tumblr {
    background-color:@tumblr;
    &:hover { background-color:darken(@tumblr,10%); }
  }
  .r_Instapaper {
    color:@black !important;
    background-color:@instapaper;
    &:hover { background-color:darken(@instapaper,10%); }
  }
  .r_Readability {
    background-color:@readability;
    &:hover { background-color:darken(@readability,10%); }
  }
  .r_Pocket {
    background-color:@pocket;
    &:hover { background-color:darken(@pocket,10%); }
  }
  .r_Pinboard {
    background-color:@pinboard;
    &:hover { background-color:darken(@pinboard,10%); }
  }
  .r_Email {
    color:@black !important;
    &:hover { background-color:darken(@yellow,20%); }
  }
}
