#r_am, #r_am * {
  padding:0;
  margin:0;
  color:#000;
  background:none;
  border:none;
  font-family:"Helvetica Neue", helvetica, arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  line-height:normal;
  text-align:center;
  text-decoration:none;
  text-shadow:none;
  text-transform:none;
  font-variant:normal;
  letter-spacing:normal;
  list-style:none;
}
#r_am {
  display:none;
  z-index:99999999;
  position:fixed;
  top:15px;
  right:15px;
}
#r_wrp {
  overflow:hidden;
  height:60px;
  width:50px;
  padding:10px 10px 5px;
}
#r_wrp, #r_am li {
  background:yellow;
}
#r_icon {
  font-size:56px;
  line-height:0;
  margin:18px 0 25px;
}
.r_submitted #r_icon {
  color:yellow;
}
#r_actions {
  margin:10px 0 0;
  width:140px;
}
#r_am a:hover, #r_am .r_active {
  background:#FFF;
}
#r_actions .r_inactive {
  text-decoration:line-through;
}
#r_am ul {
  margin:3px 0 0 0;
}
#r_am li {
  float:right;
  clear:both;
  padding:3px 5px;
  margin:3px 0;
}
#r_stuff_menu, #r_readers {
  display:none;
}
#r_nope {
  margin:0 3px 0 0;
}
#r_stuff {
  margin:0 3px;
}
#r_close {
  margin:0 0 0 3px;
}
