#r_am, #r_am * {
  padding:0;
  margin:0;
  color:#000 !important;
  background:none;
  border:none;
  font-family:"Helvetica Neue", helvetica, arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  line-height:normal;
  text-align:center;
  text-decoration:none;
  text-shadow:none;
  text-transform:none;
  font-variant:normal;
  letter-spacing:normal;
  list-style:none;
}
#r_am {
  display:none;
  z-index:999999999;
  position:fixed;
  top:15px;
  right:15px;
}
#r_wrp {
  overflow:hidden;
  height:75px;
  width:50px;
  padding:0 10px;
}
#r_am img {
  width:auto;
  height:auto;
}
#r_wrp, #r_am li, #r_stuff_menu, #r_readers {
  float:right;
  clear:both;
}
#r_wrp, #r_am li {
  background:yellow;
}
#r_icon {
  font-size:56px;
  line-height:0;
  margin:26px 0 25px;
}
.r_submitted #r_icon {
  color:yellow !important;
}
#r_actions {
  margin:15px 0 0;
  width:150px;
  line-height:32px;
}
#r_actions a {
  padding:2px;
}
#r_am a {
  display:inline-block;
}
#r_am a:hover, #r_am .r_active {
  background:#FFF;
}
#r_actions .r_inactive {
  text-decoration:line-through;
}
#r_am ul {
  margin:3px 0 0 0;
}
#r_am li {
  margin:3px 0;
}
#r_stuff_menu, #r_readers {
  display:none;
}
#r_nope {
  margin:0 3px 0 0;
}
a#r_stuff {
  margin:0 3px;
  padding:2px 8px 3px;
  border-left:1px dotted #000;
  border-right:1px dotted #000;
}
#r_close {
  margin:0 0 0 3px;
}
#r_am .r_user a, #r_other, #r_stuff_menu a {
  padding:0 8px;
  line-height:25px;
}
#r_am .r_user a {
  padding-left:0;
}
#r_am .r_user img {
  vertical-align:middle;
  margin:-2px 2px 0 0;
}
#r_am a.r_tagalong {
  padding:0 5px;
  background:#00FBFF;
  border-right:1px solid #CDFEFF;
}
#r_am a.r_tagalong:hover {
  background:#CDFEFF;
}
.r_popped_over {
  overflow:hidden;
}
#r_popover {
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  overflow:hidden;
  z-index:999999998;
  display:none;
}
#r_popover div {
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:#FFF;
  cursor:pointer;
  opacity:0.5;
}
#r_popover iframe {
  position:relative;
  width:480px; height:550px;
  display:block;
  margin:100px auto;
  border:0;
  background:#FFF;
  -webkit-box-shadow: 0 0 50px 50px #FFF;
     -moz-box-shadow: 0 0 50px 50px #FFF;
          box-shadow: 0 0 50px 50px #FFF;
}
#r_comments textarea {
  float:right;
  background:#FFF;
  border:5px solid #00FBFF;
  text-align:left;
  width:150px;
  height:15px;
  padding:5px;
}
#r_am .r_reply {
  color:green !important;
}
#r_am .r_destroy {
  color:red !important;
}
#r_am .r_comment {
  max-width:360px;
  background:none;
}
#r_am .r_comment_header {
  overflow:auto;
  background:yellow;
}
#r_am .r_comment_header .r_user {
  float:left;
}
#r_am .r_comment_header time {
  float:right;
  margin:5px;
  font-size:10px;
  color:#7F7F00 !important;
}
#r_am .r_comment_actions {
  float:right;
  display:none;
}
#r_am .r_comment_body {
  background:white;
  margin:0 0 0 25px;
  padding:7px 14px;
  text-align:left;
  border:5px solid yellow;
  border-top-width:3px;
}
