<div class="r_user">
  <a href="{{url}}" class="r_size_{{size}}">
    {{#avatar}}
    <div class="r_avatar">
      <img src="{{avatar}}">
    </div>
    {{/avatar}}
    <div class="r_info">
      <span class="r_name">{{display_name}}</span>
      {{#username}}<span class="r_username">@{{username}}</span>{{/username}}
      {{#bio}}<br><span class="r_bio">{{bio}}</span>{{/bio}}
    </div>
  </a>
  {{#is_current_user}}
    This is you!
  {{/is_current_user}}
  {{^is_current_user}}
    {{#is_following}}
      is_following
    {{/is_following}}
    {{^is_following}}
      is_not_following
    {{/is_following}}
  {{/is_current_user}}
</div>
