@import "variables";
@import "mixins";

.page_row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.posts_group {
  background: @white;
  border-radius: 5px;
  border-bottom: 1px solid #DDD;
}
.posts_group_wrapper {
  padding: 20px; 
}

.comment {
  display: none;
}