<div class="row intro section">
  <div class="span7 offset1">
    <p>These are apps you've created as a developer. Docs for the API can be found at <a href="https://dev.reading.am">dev.reading.am</a>.</p>
    <p>Looking for apps that have access to your account? Visit the <a href="/settings/apps">user apps page</a>.</p>
  </div>
</div>

<div class="row section">
  <div class="span7 offset1">
    <div id="yield">
      {{>oauth_apps/oauth_apps/template}}
    </div>
  </div>
</div>
