<div class="row intro section">
  <div class="span7 offset1">
    These are apps you've created as a developer.
    <br>Looking for apps that have access to your account? Visit the <a href="/settings/apps">user apps page</a>.
  </div>
</div>

<div class="row section">
  <div class="span7 offset1">
    <div id="yield">
      {{>oauth_apps/oauth_apps/template}}
    </div>
  </div>
</div>
