html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  color:#111;
}

a {
  color:#000;
}

h1 {
  font-weight:bold;
  font-size:36px;
  margin:0;
}
h3 {
  margin:10px 0 0;
}
h4 {
  font-weight:bold;
  letter-spacing:1px;
}

table {
  margin:5px 0 0;
}
td {
  padding:2px 5px;
}

#wrapper {
  width:960px;
  margin:60px auto;
}

#welcome, #content {
  margin:20px 0 0;
}

a.external {
  background:#FFFABA;
  text-decoration:none;
}
  a.external:hover {
    background:#FFF461;
    text-decoration:underline;
  }

.date, .admin.action {
  padding:0 5px 0 0;
  font-size: 12px
}

.admin.action {
  visibility:hidden;
}

tr:hover .admin.action {
  visibility:visible;
}
