<div id="blank_slate">
<% if current_user && @user == current_user %>
  You haven't posted anything that you're reading yet. If you had, you'd see it here.<br>
  To get started, drag this link to your bookmarks bar:<br>
  <div class="bookmarklet">
    <span>Drag me to your bookmarks bar</span>
    <%= link_to '✌ Reading', bookmarklet_url(current_user) if logged_in? and current_user == @user %>
  </div>
  When you visit a webpage, press that bookmark before you start reading so your friends can come read with you.<br>
  That's it, but also:
  <ul>
    <li>Don't wait until after you've read it.</li>
    <li>Don't think too much about it.</li>
    <li>Don't worry about whether the content is good or bad or boring or interesting,<br> everyone else will figure that out for themselves.</li>
  </ul>
<% else %>
  <h4><%= @user.display_name %> hasn't posted anything yet</h4>
<% end %>
</div>
