<div id="blank_slate" class="row">
  <div class="span7 offset1">
  <% if current_user && @user == current_user %>
    <p>
      You haven't posted anything that you're reading yet. If you had, you'd see it here.<br>
      To get started, drag this link to your bookmarks bar:
    </p>
    <div class="well">
      <%= link_to 'Install Chrome Extension', 'https://chrome.google.com/webstore/detail/npjdbbeldblbjenemjdeplmlaieifjhk', :class => 'btn chrome-install' %>
    </div>
    <p>
      Or, alternately, you can use this bookmarklet in any browser:
      <%= link_to '✌ Reading', bookmarklet_url(current_user), :class => 'btn' %>
    </p>
    <p>
      When you visit a webpage, press that bookmark before you start reading so your friends can come read with you.<br>
      That's it, but also:
      <ul>
        <li>Don't wait until after you've read it.</li>
        <li>Don't think too much about it.</li>
        <li>Don't worry about whether the content is good or bad or boring or interesting,<br> everyone else will figure that out for themselves.</li>
      </ul>
    </p>
  <% else %>
    <h4><%= @user.display_name %> hasn't posted anything yet</h4>
  <% end %>
  </div>
</div>
