<div id="subnav" class="row">
  <nav class="span7 offset1">
    <a href="/<%= @user.username %>/info"<% if params[:action] == 'edit' %> class="active"<% end %>>Info</a>
    <a href="/<%= @user.username %>/hooks"<% if params[:action] == 'hooks' %> class="active"<% end %>>Hooks</a>
    <a href="/<%= @user.username %>/extras"<% if params[:action] == 'extras' %> class="active"<% end %>>Extras</a>
    <%= link_to "Sign Out", signout_path, :id => 'signout' %>
  </nav>
</div>
