<%= link_to "/#{user.username}", :class => 'user' do %>
  <span class="avatar">
    <%= image_tag user.avatar.url :mini %>
  </span>
  <span class="name">
    <%= user.display_name %>
  </span>
  <span class="bio">
    <%= user.bio %>
  </span>
<% end %>
