<div id="subnav" class="row">
  <nav class="span7 offset1">
    <a href="/<%= user.username %>"<% if params[:type] == 'posts' %> class="active"<% end %>>
      <%= "Your" if user == current_user %> Posts <span class="count">(<%= user.posts.size %>)</span>
    </a>
    <a href="/<%= user.username %>/list"<% if params[:type] == 'list' %> class="active"<% end %>>Following Posts</a>
  </nav>
</div>
