<%= render :partial => 'users/card', :locals => {:user => @user} %>

<div id="yield"></div>

<script type="text/javascript">

  reading.curl(["backbone", "app/routers/users"], function(Backbone, Router){
    new Router({
      model: Backbone.Model.prototype.factory(<%= @user.simple_obj.to_json.html_safe -%>),
      collection: Backbone.Model.prototype.factory(<%= @users.collect{|u| u.simple_obj}.to_json.html_safe -%>)
    });
    Backbone.history.start({pushState: true});
  });

</script>
