<%= render :partial => 'users/card', :locals => {:user => @user} %>

<div class="user_list">
<% if @users.empty? %>
<div class="row">
  <div class="span7 offset1">
    <h4>Nobody's here yet.</h4>
  </div>
</div>
<% else %>
<% @users.each do |user| %>
<div class="row">
  <div class="span7 offset1">
    <%= render :partial => 'users/user', :locals => { :user => user } %>
  </div>
</div>
<% end %>
<% end %>
</div>
