<div id="content">

<%= render :partial => 'users/you_subnav' %>

<table>
<% if @users.empty? %>
  <tr><td>Nobody's here yet.</td></tr>
<% else %>
<% @users.each do |user| %>
  <tr>
    <td><%= render :partial => 'users/user', :locals => { :user => user } %></td>
  </tr>
<% end %>
<% end %>
</table>

</div>
