<%=

  has_avatar = @user != current_user or (@user == current_user and !@user.avatar.size.nil?)

  locals = {
    :user                       => @user,
    :avatar_link_url            => has_avatar ? @user.avatar.url : "/settings/info",
    :avatar_link_target         => has_avatar ? "_blank" : false,
    :avatar_img_url             => @user.avatar.url(:medium),
  }
  render :file => 'users/card/template', :locals => locals
%>

<div id="yield"></div>

<%= render :partial => 'backbone/router', :locals => {:model => @user, :collection => @users} %>
