<div id="content">
  <h4>Some people are reading this stuff</h4>
  <table>
  <% time = '' %>
  <% @posts.each do |post| %>
    <tr>
      <td class="date">
      <%=
        if time != post.created_at.strftime("%m/%d")
          time = post.created_at.strftime("%m/%d")
        end
      %>
      </td>
      <td><%= render :partial => 'posts/post', :locals => { :post => post } %></td>
    </tr>
  <% end %>
  </table>
<%= link_to('RSS', "#{request.url + (params[:type] == 'list' ? '/list' : '')}.rss?t=#{current_user.token}", {:class => 'rss'}) if !params[:type].nil? and logged_in? %>
</div>
