<div id="content">
  <h4>Some people are reading this stuff</h4>
  <table>
  <% time = '' %>
  <% @posts.each do |post| %>
    <tr>
      <td class="date">
      <%=
        if time != post.created_at.strftime("%m/%d")
          time = post.created_at.strftime("%m/%d")
        end
      %>
      </td>
      <td><%= render :partial => 'posts/post', :locals => { :post => post } %></td>
    </tr>
  <% end %>
  </table>
  <% if !params[:type].nil? and logged_in? %>
  <%= link_to rss_path, {:class => 'rss'} do %>
    <abbr>r</abbr> RSS
  <% end %>
  <% end %>
</div>
