<div class="r_oauth_apps_with_input">
  {{#signed_in}}
    <div id="new_app" class="row section">
      <a href="#" class="r_create">[+] Create a new app</a>
      {{>oauth_apps/oauth_apps_with_input/_form}}
    </div>
  {{/signed_in}}
</div>
