<div data-class="Page" data-id="<%= page.id %>" class="page <%= yn_class %>">
  <%= link_to page.url, :class => 'external', :data => {:base58_id => Base58.encode(post.id)} do %>
    <span><%= page.display_title %></span>
  <% end %>
</div>
