<div id="content">
  <%
  locals = {url: @page.wrapped_url,
            title: @page.display_title,
            medium: @page.medium }

  if @page.content
      locals[:content] = @page.content
  else
      locals[:description] = @page.description
  end
  %>
  <%= render file: 'pages/page/template', locals: locals %>
</div>
