<li class="r_post r_subpost">
  <div class="{{#yep}}r_yep{{/yep}}{{#nope}}r_nope{{/nope}}">
    <div class="r_yep_nope">
      <div class="r_tri"></div>
    </div>
    <div class="r_post_bg">
      {{#user}}{{>users/user/template}}{{/user}} is reading this
      {{#referrer_post.user}}because of {{>users/user/template}}{{/referrer_post.user}}
    </div>
    <div class="r_post_actions">
      {{#is_owner}}<a href="#" class="r_destroy">Delete</a>{{/is_owner}}
    </div>
  </div>
</li>
