<html>
  <head><title>Reading Redirect</title></head>
<body>
<script type="text/javascript">
  window.opener.provider_response({"status":"<%= status %>"<% if defined? authResponse %>, "authResponse":<%=j authResponse.to_json.html_safe %><% end %><% if defined? auth %>, "auth":<%=j auth.to_json.html_safe %><% end %>});
  window.close();
</script>
</body>
