<span class="r_post_actions">
  {{^id}}
    <a href="#" class="pa_create">Post</a>
  {{/id}}
  {{#id}}
    <a href="#" class="pa_destroy"><span class="r_default">Posted</span><span class="r_hover">Delete</span></a>
    <span class="r_dot">•</span> <a href="#" class="pa_yep {{#yep}}r_active{{/yep}}">Yep</a>
    <span class="r_dot">•</span> <a href="#" class="pa_nope {{#nope}}r_active{{/nope}}">Nope</a>
  {{/id}}
  <span class="r_dot">•</span> <a href="#" class="pa_share">Share</a>
</span>
