<div class="r_post_actions">
  {{^id}}
    <a href="#" class="pa_create">Post</a>
  {{/id}}
  {{#id}}
    <a href="#" class="pa_destroy">Un-Post</a>
    • <a href="#" class="pa_yep {{#yep}}r_active{{/yep}}">Yep</a>
    • <a href="#" class="pa_nope {{#nope}}r_active{{/nope}}">Nope</a>
  {{/id}}
  • <a href="#" class="pa_share">Share</a>
</div>
