<div id="medium_selector" class="row">
  <form class="span7 offset1">
    <label class="checkbox inline">
      <input type="checkbox" name="medium" value="all" checked>
      All
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="medium" value="image" checked>
      Images
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="medium" value="video" checked>
      Video
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="medium" value="audio" checked>
      Audio
    </label>
    <label class="checkbox inline">
      <input type="checkbox" name="medium" value="text" checked>
      Text
    </label>
  </form>
</div>
