<div id="medium_selector" class="row">
  <form class="span7 offset1">
    <label>
      Show me
      <select name="medium">
        <option value="all">everything</option>
        <option value="text">text</option>
        <option value="image">images</option>
        <option value="video">video</option>
        <option value="audio">audio</option>
      </select>
    </label>
  </form>
</div>
