<div id="medium_selector" class="row">
  <form class="span7 offset1">
    <select name="medium">
      <option value="all">All</option>
      <option value="image">Images</option>
      <option value="video">Video</option>
      <option value="audio">Audio</option>
      <option value="text">Text</option>
    </select>
  </form>
</div>
