<div class="r_yep_nope">
  <div class="r_tri"></div>
</div>

<a href="{{wrapped_url}}" class="r_tagalong r_before r_disabled" title="{{title}}">&laquo;</a>
<a href="{{wrapped_url}}" class="r_tagalong r_after r_disabled" title="{{title}}">&raquo;</a>
