<div class="r_post r_subpost {{#yep}}r_yep{{/yep}}{{#nope}}r_nope{{/nope}}">
  <div class="r_yep_nope">
    <div class="r_tri"></div>
  </div>
  <div class="r_post_bg">
    {{#user}}{{> users/user}}{{/user}} is reading this
  </div>
</div>
