<div class="r_page">
  <div class="r_page_{{medium}}">
    <h2>
      <a href="{{url}}" target="_blank">
        <span>{{title}}</span>
      </a>
    </h2>
    <p class="r_description" title="{{description}}">
      {{description}}
    </p>
  </div>
</div>
