<div id="header_card" class="row">
  <div class="span7 offset1">
    <h1>Find People</h1>
  </div>
  <div class="span7 offset1">
    Following good people on Reading makes you smarter, it's a fact!
  </div>
</div>
<div id="subnav" class="row">
  <nav class="span7 offset1">
    <a href="/users/recommended" class="button blue{{#recommended}} active{{/recommended}}">Recommended</a>
    {{#logged_in}}<a href="/users/friends" class="button blue{{#friends}} active{{/friends}}">Outside Friends</a>{{/logged_in}}
    <form class="search" action="/users/search" {{#search}}class="active"{{/search}}>
      <input type="text" name="q" value="{{query}}" placeholder="Search names and alter egos">
    </form>
  </nav>
</div>
<div class="row">
  <div id="users" class="span7 offset1">
    <div class="status">Loading Awesome People...</div>
  </div>
</div>
