<div id="yn_selector" class="row">
  <form class="span7 offset1">
    <label>
      with
      <select name="yn">
        <option value="any"   {{#yn_any}}selected{{/yn_any}}>anything</option>
        <option value="yeps"  {{#yn_yeps}}selected{{/yn_yeps}}>yeps</option>
        <option value="nopes" {{#yn_nopes}}selected{{/yn_nopes}}>nopes</option>
      </select>
    </label>
  </form>
</div>
