body {
  margin-top:16px;
  margin-bottom:50px;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size:28px;
  color:#000;
}
a {
  text-decoration:none;
  color:#000;
}
a:hover {
  text-decoration:underline;
  color:#000;
}
.user, .hook a {
  font-weight:bold;
}

