@import "variables";
@import "mixins";

html {
  background: #F0F0F0;
}

body {
  #gradient > .vertical(@white, #F0F0F0);
  height:100%;
  &#application_layout {
    padding-top:16px;
    margin-bottom:50px;
  }
}
h1 {
  font-size:28px;
  color:@black;
}
a {
  text-decoration:none;
  color:@black;
}
a:hover {
  text-decoration:underline;
  color:@black;
}
.user, .hook a {
  font-weight:bold;
}
.row.w_rule {
  border-bottom:1px solid @light_grey;
  padding-top:@baseLineHeight;
}

.offset1.w_vert_rule {
  @offset: @gridColumnWidth + @gridGutterWidth*2;
  margin-left:@offset/2;
  padding-left:@offset/2-1;
  border-left:1px solid @light_grey;
}

.help-block, .help-inline {
  color:@medium_light_grey;
}
