/*
 * Fonts and Mixins
 */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: font-url('websymbols-regular-webfont.eot');
    src: font-url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('websymbols-regular-webfont.woff') format('woff'),
         font-url('websymbols-regular-webfont.ttf') format('truetype'),
         font-url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin gradient($first, $second) {
  background: $second; /* Old browsers */
  background: -moz-linear-gradient(top, $first 0%, $second 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$second)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $first 0%,$second 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $first 0%,$second 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $first 0%,$second 100%); /* IE10+ */
  background: linear-gradient(top, $first 0%,$second 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first', endColorstr='$second',GradientType=0 ); /* IE6-9 */
}

/*
 * Variables
 */
$yellow: #FFFBCC;
$dark_yellow: #FFF461;
$blue: #B3FEFF;
$dark_blue: #00FBFF;
$green: #38ff7E;
$dark_green: #79ff30;
$grey: #EEE;

/*
 * Basic HTML elements
 */
html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color:#111;
}

a {
  background:$yellow;
  text-decoration:none;
  color:#000;
}
  a:hover {
    background:$dark_yellow;
    text-decoration:underline;
  }
h1 {
  font-weight:bold;
  font-size:36px;
  line-height:36px;
}
h3 {
  margin:10px 0 0;
}
h4 {
  font-weight:bold;
  letter-spacing:1px;
  margin:0 0 10px;
}

table {
  margin:5px 0 20px;
}
td {
  padding:2px 5px;
  vertical-align:top;
}
strong {
  font-weight:bold;
}

abbr, .glyph {
  font-family:'WebSymbolsRegular';
}
  .twitter abbr {
    color:#2493c4;
    font-size:1.25em;
  }

  .facebook abbr {
    color:#557b9f;
    background:white;
  }

#wrapper {
  width:960px;
  margin:50px auto;
}

.bookmarklet {
  background:$yellow;
  text-align:center;
  margin:60px 0 0;
  width:275px;
}
  .bookmarklet span, .bookmarklet a {
    width:100%;
  }
  .bookmarklet a {
    display:none;
  }

#content {
  min-height:250px;
}
.section, #notice, #content {
  margin:20px 0 0;
}
  #welcome {
    line-height:22px;
  }
  #blank_slate .bookmarklet {
    font-size: 36px;
    font-weight:bold;
    line-height: 56px;
    width: 615px;
    margin:15px 0;
  }
  #blank_slate li {
    list-style-type: circle;
    margin-left: 30px;
    padding-left: 3px;
  }

#hooks h4, #authorizations h4 {
  margin:0;
}
#authorizations a {
  background:none;
}

.date, .admin.action {
  padding:2px 5px 0 0;
  font-size: 12px
}

.admin.action {
  visibility:hidden;
  background:none;
}

tr:hover .admin.action {
  visibility:visible;
}

#username, #username_actions {
  font-size:32px;
  float:left;
  margin:18px 0 0;
}
  #username label {
    font-size:14px;
  }
#username_actions {
  font-size:56px;
}
  #username_actions input {
    width:100px;
    margin:36px;
  }

h1 a, a.user, .hook a {
  background:none;
}
  h1 a:hover, a.user:hover {
    background:none
  }

.user, .hook a {
  font-weight:bold;
}

.edit_user .field {
  margin:5px 0;
}

.edit_user label {
  display:inline-block;
  width:100px;
}

a.back, .actions {
  display:inline-block;
  margin:10px 0 0;
}

th {
  font-weight:bold;
  font-size: 12px;
}

.hook_message {
  display:none;
  margin:15px 0;
  font-size:12px;
}

#visit {
  margin:150px 0 0;
}
#visit h2 {
  font-size:16px;
}
#visit span {
  text-decoration:underline;
}

#subnav a, footer a, a.user.you, #foot_nav a {
  background-color:$blue;
}
  #subnav a:hover, footer a:hover, a.user.you:hover, #foot_nav a:hover {
    background-color:$dark_blue;
  }
a.active, a.active:hover, #subnav a.active, #subnav a.active:hover {
  background:none;
  text-decoration:underline;
  cursor:default;
}

#foot_nav a {
  margin:0 5px 0 0;
}

.disabled {
  opacity: 0.5;
}

footer {
  margin:30px 0;
}

a.external {
  font-style:italic;
}

#error_explanation {
  color:red;
}

/* provider spans */
.provider {
  font-style:normal;
}
.provider, a:hover .provider {
  text-decoration:none;
}
.provider.twitter {
  background-color:#d7f3ff;
}
a:hover .provider.twitter {
  background-color:#e6f7ff;
}
.provider.facebook {
  background-color:#d2eaff;
}
a:hover .provider.facebook {
  background-color:#def0ff;
}
a.rss abbr {
  font-size:0.75em;
  vertical-align:top;
  background-color:#FFF;
}

.disconnected, .disconnected a, .disconnected .provider {
  color:#555;
}
.disconnected .admin {
  font-size:12px;
}
.disconnected .provider, .disconnected a:hover .provider {
  background:$grey;
}
.disconnected abbr {
  color:#999;
}

#notice {
  display:inline-block;
  font-weight:bold;
}

.follow, #subnav .follow {
  background-color:$green;
  &:hover {
    background-color:$dark_green;
  }
}

#constructor {
  line-height:35px;
}
#constructor .wrapper {
  background:$grey;
  padding:8px 0;
}
#constructor_submit {
  display:inline-block;
  background:$green;
  padding:0 5px;
  line-height:32px;
}

#hooks_blank a {
  background:none;
  font-weight:bold;
}
  #hooks_blank a.email {
    text-decoration:underline;
  }
a.footnote {
  font-weight:normal;
  font-size:12px;
  background:$grey;
}
#constructor input[type='text'] {
  font-size:13px;
  width:110px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #constructor select { font-size:16px; }
}

.pagination {
  margin:0 0 20px;
}
.pagination a, .pagination em {
  padding:0 2px;
}
.pagination em {
  font-weight:bold;
  text-decoration:underline;
  margin:0 2px;
}

#search {
  display:inline;
}
