@import "variables";
@import "mixins";

/*
 * Fonts and Mixins
 */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: font-url('websymbols-regular-webfont.eot');
    src: font-url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('websymbols-regular-webfont.woff') format('woff'),
         font-url('websymbols-regular-webfont.ttf') format('truetype'),
         font-url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyph {
  font-family:'WebSymbolsRegular';
  text-transform:none;
  font-size:100%;
}

#hooks h4, #authorizations h4 {
  margin:0;
}

.admin.action, .row:hover li .admin.action {
  background:@red;
  padding:1px 3px;
  color:@white;
  border-radius:2px;
  font-size:12px;
  opacity: 0;
  .transition(opacity .25s ease-in-out);
}
.row:hover .admin.action, .row:hover li:hover .admin.action {
  opacity: 1;
}

.edit_user .field_with_errors {
  color:@red;
}
.edit_user .field_with_errors input {
  border:2px solid @red;
}

a.back, .actions {
  display:inline-block;
  margin:10px 0 0;
}

#visit {
  margin-top:150px;
  span {
    .word-wrap();
    text-decoration:underline;
  }
}

footer a, a.user.you {
  background-color:@light_blue;
}
  footer a:hover, a.user.you:hover {
    background-color:@blue;
  }
a.active, a.active:hover, h4 .active {
  font-weight:normal;
}

.disabled {
  opacity: 0.5;
}

footer {
  margin:30px 0;
}

#error_explanation {
  color:red;
}
a.rss, #subnav .rss {
  background: none;
  color: #DDD;
  &:hover {
    background: none;
    color: inherit;
  }
  .glyph {
    font-size:0.75em;
    vertical-align:top;
    background-color:@white;
  }
}

#notice {
  margin-bottom:20px;
}

#new_hook.loading {
  opacity:0.4;
}


.breadcrumb a {
  background:@light_blue;
  &:hover {
    background:@blue;
  }
}

#readers a {
  font-weight:normal;
}

.date {
  line-height:26px;
  text-align:right;
}

nav a {
  display:inline-block;
  border-radius:3px;
  padding:3px 5px;
  margin-right:2px;
  font-size:16px;
}
.form-actions {
  background:none;
  border:none;
}
#user_info {
  margin-top: @baseLineHeight;
  .form-actions {
    padding-top:0;
  }
  .control-group.error .help-block {
    display:none;
  }
}
#authorizations {
  li {
    margin:5px 0 0;
  }
  .provider {
    font-size:15px;
  }
  .disconnected {
    display:none; // hidden because Safari doesn't popup auth window onchange event
  }
}
.section, .extra {
  margin-top:@baseLineHeight;
}
.extra {
  .well {
    text-align:center;
  }
  p a {
    text-decoration:underline;
  }
  input {
    width:100%;
    margin-bottom:0;
  }
}
#almost_ready {
  label {
    font-size:18px;
  }
  h3 {
    margin-bottom:5px;
  }
  #almost_ready_header {
    margin-bottom:23px;
  }
  blockquote {
    padding:0;
    margin:0 0 35px 0;
    border:none;
    a {
      text-decoration:underline;
    }
  }
}
#lead_in {
  color:@black;
}
#signup {
  margin-top:8px;
  font-size:15px;
  a {
    text-decoration:underline;
  }
}
.count {
  font-size:12px;
  line-height:normal;
}
#suspended {
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}
