<td class="hook">• 
<%=
  case hook.provider
  when 'url'
    "Send <b>#{hook.params['method'].upcase}</b> data to #{link_to hook.params['url']}".html_safe
  when 'hipchat'
    "Post to the <a href=\"http://hipchat.com\">Hipchat</a> room \"#{hook.params['room']}\"".html_safe
  when 'campfire'
    "Post to the <a href=\"http://campfirenow.com\">Campfire</a> room \"#{hook.params['room']}\"".html_safe
  end
%>
</td>
