<td class="hook">
  ↪ When I <strong>read, "yep" or "nope"</strong> please 
<%=
  case hook.provider
  when 'url'
    "send <b>#{hook.params['method'].upcase}</b> data to #{link_to hook.params['url']}".html_safe
  when 'hipchat'
    "post to the <a href=\"http://hipchat.com\">Hipchat</a> room <b>\"#{hook.params['room']}\"</b>".html_safe
  when 'campfire'
    "post to the <a href=\"http://campfirenow.com\">Campfire</a> room <b>\"#{hook.params['room']}\"</b>".html_safe
  when 'opengraph'
    "post to your <a href=\"http://facebook.com\">Facebook</a> Timeline".html_safe
  end
%>
</td>
