<div id="hooks">
<h4>Hooks</h4>
<h5 class="hook_message">Hooks perform an action each time you post</h5>
<table>
<% @hooks.each do |hook| %>
  <tr>
    <%= render :partial => 'hooks/hook', :locals => {:hook => hook} %>
    <% if hook.user.id == current_user.id %>
    <td><%= link_to 'Delete', hook, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to 'Add a hook', new_hook_path %>
</div>
