$.template('post',
'<tr>'+
  '<td class="date"></td>'+
  '<td>'+
    '<div data-id="${id}" data-class="Post" class="post {{if referrer_post.id}}referred_post{{/if}} {{if yn === true}}yep{{else yn === false}}nope{{/if}}">'+
    '<a href="http://<%= DOMAIN %>/${user.username}" class="user">${user.display_name}</a> is reading <a href="${url}" class="external" data-base58_id="${base58.encode(id)}">${title}</a>'+
    '{{if referrer_post.id}} because of <a href="http://<%= DOMAIN %>/${referrer_post.user.username}" class="user">${referrer_post.user.display_name}</a>{{/if}}</div>'+
  '</td>'+
'</tr>'
);
