$.template('Post',
'<div data-class="Post" data-id="${id}" class="post {{if referrer_post.id}}referred_post{{/if}} {{if yn === true}}yep{{else yn === false}}nope{{/if}}">'+
  '<a href="http://<%= DOMAIN %>/${user.username}" class="user">'+
  '{{if user.id != current_user.id}}'+
    '${user.display_name}</a> is'+
  '{{else}}'+
    'You</a> are'+
  '{{/if}} reading <a href="${url}" class="external" data-base58_id="${base58.encode(id)}">${title}</a>'+
  '{{if referrer_post.id}}'+
    ' because of <a href="http://<%= DOMAIN %>/${referrer_post.user.username}" class="user'+
    '{{if user.id == current_user.id}}'+
      ' you">you'+
    '{{else}}'+
      '">${referrer_post.user.display_name}'+
    '{{/if}}</a>'+
  '{{/if}}'+
'</div>'
);
