<script>
reading = {
  token: "<%= @token %>",
  referrer_id: <%= @referrer_id %>
};
</script>

<%= javascript_include_tag (Rails.env == 'production' ? 'reading' : 'loader') %>

<div id="visit">
  <h2>Loading <span><%= params[:url] %></span><% if logged_in? %> and adding it to your reading list<% end %>.</h2>
</div>
