<script>
if(typeof reading == "undefined") reading = {};
reading.token = "<%= @token %>";
reading.referrer_id = <%= @referrer_id %>;
</script>

<%= javascript_include_tag 'bookmarklet/loader' %>

<div id="visit" class="row">
  <div class="span6 offset1">
    <h3>Loading <span><%= params[:url] %></span><% if signed_in? %> and adding it to your reading list<% end %>.</h3>
  </div>
</div>
