@import "variables";
@import "mixins";

#mainnav a, #mainnav a:hover {
  background:@light_yellow;
  text-decoration:none;
}
#mainnav a:hover, #mainnav a.active, #mainnav a.active:hover {
  background:@yellow;
  font-weight:normal;
  text-decoration:none;
}
.search {
  display:inline;
  input {
    margin-bottom: 4px;
  }
}

