$yellow: #FFFBCC;
$dark_yellow: #FFF461;

#mainnav {
  margin-bottom:38px;
}
#mainnav a.active, #mainnav a.active:hover {
  background:$dark_yellow;
  cursor:default;
  font-weight:normal;
  text-decoration:none;
}
