@import "variables";

#subnav, #subhead {
  margin-bottom:23px;
}
#subnav #signout {
  background:none;
  font-size:14px;
  color:@dark_grey;
}
#subnav nav.span1 a {
  padding:4px;
}
#subhead h3 {
  color:@black;
  text-decoration:underline;
}
