@import "variables";
@import "mixins";

#subnav, #subhead {
  margin-top: 30px;
}
.follow, #subnav .follow {
  text-transform:capitalize;
  background-color:@bright_green;
  :hover {
    background-color:@dark_green;
  }
}
#subnav {
  a {
    background-color:@light_blue;
  }
  a.active, a:hover {
    background-color:@blue;
    text-decoration:none;
  }
  a.active:hover {
    text-decoration:none;
  }
  #new_post_button {
    background:none;
    &:hover {
      background:@light_grey;
    }
  }
  #signout {
    background:none;
    font-size:14px;
    color:@dark_grey;
  }
  nav.span1 a {
    padding:4px;
  }
}
#subhead h3 {
  color:@black;
  text-decoration:underline;
}
