#titlecard {
  position:absolute;
  top:42px;
  right:22px;
  text-align:center;
  font-size:18px;
  line-height:22px;
}
#titlecard a, #titlecard a:hover {
  background:none;
  text-decoration:none;
}
#titlecard span {
  font-size:80px;
  line-height:0;
}
