$yellow: #FFFBCC;
$dark_yellow: #FFF461;
$blue: #cdfeff;
$dark_blue: #00FBFF;
$green: #38ff7E;
$dark_green: #79ff30;
$grey: #EEE;
$dark_grey: #777;

#user_card {
  margin-bottom:36px;
}
#avatar, #avatar:hover {
  text-align:right;
  background:none;
}
#user_card h1 {
  color:#000;
  margin-top:-8px;
  margin-bottom:3px;
}
#user_card nav {
  margin-bottom:12px;
}
#user_card nav a {
  background:none;
  padding:0;
}
#user_card nav a.active {
  text-decoration:underline;
  color:$dark_grey;
}
#user_card .follow {
  background-color:$green;
  padding:3px 5px;
  &:hover {
    background-color:$dark_green;
  }
}
#user_bio {
  font-family:'Georgia', serif;
  font-style:italic;
  -webkit-font-smoothing: subpixel-antialiased;
  color:$dark_grey;
}
#user_places {
  -webkit-font-smoothing: subpixel-antialiased;
  color:#000;
}
#user_places a {
  background:none;
}
