<div class="container">

  <div class="row">
    <div class="span8">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <h3>Posts <span id="total_posts" class="total"></span></h3>
      hey
    </div>
    <div class="span3">
      <h3>Comments <span id="total_comments" class="total"></span></h3>
      now
    </div>
    <div class="span2">
      <h3>Users <span id="total_users" class="total"></span></h3>
      you
    </div>
  </div>

</div>
