@black: #000;
@darkest_grey: #333;
@dark_grey: #999;
@medium_grey: #777;
@medium_light_grey: #AAA;
@ghost_grey: #E9E9E9;
@light_grey: #EEE;
@white: #FFF;

@light_blue: #CDFEFF;
@blue: #00FBFF;
@dark_blue: #00a9ac;

@eli_blue:#3991f6;

@lightest_yellow: lightyellow;
@light_yellow: #FFFBCC;
@yellow: #FFF461;
@dark_yellow: #7F7F00;

@purple: #b01ecf;
@dark_purple: #7d0097;

@green: green;
@bright_green: #38ff7E;
@dark_green: #79ff30;

@red: red;

@twitter:#2493c4;
@twitter_light:#d7f3ff;
@twitter_lightest:#e6f7ff;

@facebook:#557b9f;
@facebook_light:#d2eaff;
@facebook_lightest:#def0ff;

@tumblr:#2C4762;
@instapaper:#CCC;
@github:#CACACA;
@readability:#9C0001;
@pocket:#ED4056;
@pinboard:blue;
@instagram:#453e38;
@kippt:#DD390D;

@amazon_orange:#E47911;
@amazon_blue:#004B91;

@check: "\2714"; // ✔
@x: "\00D7"; // ×
