<div class="control-group" id="authorizations">
  <label>Connections</label>
  <div class="controls">
    <ul class="unstyled">
      <% @user.authorizations.each do |authorization| %>
        <li>
          <%= render :partial => 'authorizations/authorization', :locals => {:authorization => authorization} %>
          <% if authorization.user == current_user and @user.authorizations.length > 1 %>
            <%= link_to 'Disconnect', authorization, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <% Authorization::PROVIDERS.each do |provider| %>
          <li class="disconnected">
            <%= link_to provider_span(provider) << content_tag(:span, " click to connect", :class => 'admin'), "#", :data => {:provider => provider.capitalize, :method => 'connect'} %>
          </li>
        <% end %>
      <% end %>
      <li class="help-block">You can sign in and <%= link_to "create hooks", "/#{@user.username}/hooks" %> with any of these accounts</li>
    </ul>
  </div>
</div>
