<div id="authorizations" class="section">
<h4>Connections</h4>
<h5 class="hook_message">You can sign in using any of these accounts</h5>
<table>
<% @user.authorizations.each do |authorization| %>
  <tr>
    <%= render :partial => 'authorizations/authorization', :locals => {:authorization => authorization} %>
    <% if authorization.user == current_user and @user.authorizations.length > 1 %>
    <td><%= link_to 'Disconnect', authorization, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
<% if @user == current_user %>
  <% Authorization::PROVIDERS.each do |provider| %>
    <tr><td class="disconnected"><%= link_to provider_span(provider) << content_tag(:span, " click to connect", :class=>'admin'), "/auth/"<<provider %></td></tr>
  <% end %>
<% end %>
</table>
</div>
