<div id="authorizations">
<h4>Networks</h4>
<h5 class="hook_message">Networks you're connected to. You can sign in using any of these accounts.</h5>
<table>
<% @user.authorizations.each do |authorization| %>
  <tr>
    <%= render :partial => 'authorizations/authorization', :locals => {:authorization => authorization} %>
    <% if authorization.user == current_user and @user.authorizations.length > 1 %>
    <td><%= link_to 'Disconnect', authorization, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
<% if @user == current_user and @user.authorizations.length == 1 %>
  <% needs = @user.authorizations.first.provider == 'twitter' ? 'facebook' : 'twitter' %>
  <tr><td><a href="/auth/<%= needs %>">Connect your <%= needs.capitalize %> account</a></td></tr>
<% end %>
</table>
<% #link_to 'Add a network', new_authorization_path %>
</div>
