<!DOCTYPE html>
<html>
<head>
  <title>✌ Reading</title>
  <style type="text/css">
    body { font-family:'Helvetica Neue', helvetica, arial, sans-serif; text-align:center; }
    h1 { font-size:175px; margin:100px 0 0; line-height:135px; font-weight:normal; }
    h2 { font-size:24px; line-height:10px; }
  </style>
  <meta http-equiv="refresh" content="0;url=<%= user_omniauth_authorize_path params[:provider] %>">
</head>
<body>
  <h1>✌</h1>
  <h2>Loading</h2>
</body>
</html>
