<li class="r_status">
  <div class="r_loading">
    {{loading_msg}}{{^loading_msg}}Loading{{/loading_msg}}<span>...</span>
  </div>
  <div class="r_empty">
    {{empty_msg}}
    {{^empty_msg}}There's nothing here!{{/empty_msg}}
  </div>
</li>
