{{#url}}
  <img src="{{url}}">
  <div class="r_instagram_image_info">
    <img class="r_icon" src="https://instagr.am/favicon.ico">
    <span>{{author_name}}</span>
    : <span class="r_instagram_image_title">{{title}}</span>
  </div>
{{/url}}
{{^url}}
  Loading Instagram image...
{{/url}}
