<ul class="page_row_actions">
  {{^id}}<li><a href="#" class="pa_create">Post</a></li>{{/id}}
  {{#id}}
    <li><a href="#" class="pa_destroy">Delete</a></li>
    <li><a href="#" class="pa_yep">Yep</a></li>
    <li><a href="#" class="pa_nope">Nope</a></li>
  {{/id}}
  <li><a href="#" class="pa_share">Share</a></li>
</ul>
