@import "variables";
@import "mixins";

#r_am {
  .r_post {
    .r_yep_nope {
      display:none;
      font-size:9px;
      padding:2px 3px;
      margin-right:3px;
    }
    &.r_yep {
      .r_yep_nope {
        .speech_bubble(@eli_blue, @white, bottom-right);
        &:before {
          content:"Yep";
        }
      }
    }
    &.r_nope {
      .r_yep_nope {
        .speech_bubble(@red, @white, bottom-right);
        &:before {
          content:"Nope";
        }
      }
    }
    .r_user {
      float:left;
      background:@yellow;
      display:inline-block;
    }
    .r_tagalong {
      float:left;
      padding:0 5px;
      line-height:25px;
      background:@blue;
      border-right:1px solid @light_blue;
      &:hover {
        background:@light_blue;
      }
      &.r_disabled {
        opacity:0.5 !important;
        border-color:@dark_grey;
        background:lightgrey;
      }
    }
  }
}
