@import "variables";
@import "mixins";

.row {
  margin-top:@baseLineHeight;
}
a.page {
  text-decoration:underline;
}
.r_comment {
  position:relative;
  max-width:none;
  margin:@baseLineHeight 0 @baseLineHeight*2;
  border:0;
  background:#EFEFEF;
  padding:10px;
  img, .r_image img {
    max-width:100%;
    max-height:none;
  }
  .r_comment_body {
    background-color:transparent;
    margin:0;
    padding:0;
    border:0;
  }
  .border-radius(3px);
  .r_tri {
    // border-color-bottom is split out because the premailer
    // parser chokes on the one liner version
    border-color:transparent;
    border-bottom-color:@light_grey;
    border-style:solid;
    border-width:0 10px 10px 0;
    height:0; width:0;
    position:absolute;
    top:-10px;
    left:10px;
  }
}
