@import "variables";

body {
  padding:0 30px;
}
.row {
  position:relative;
}
.date {
  display:none;
}
.comment {
  position:absolute;
  top:7px;
  right:0;
}
.page {
  .description { white-space:normal; }
}
a:active, a:visited {
  color:@black;
}
#footer {
  margin-top:@baseLineHeight*2;
  &, a { color:@medium_grey; }
  a, a:hover {
    text-decoration:none;
    border-bottom:1px solid #CCC;
  }
  .home {
    color:@black;
    border:0;
  }
}
