<div id="subscribe" class="row">
  <div class="span7 offset1">
    <div class="well">
      Reading has the skills to pay the bills, but could use some bills to pay the bills.
      <%= form_tag charges_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-image="/apple-touch-icon.png"
                data-name="Reading"
                data-description="Become a best friend of Reading"
                data-panel-label="Pitch in {{amount}} per month"
                data-label="Help with $"
                data-amount="500"
                data-allow-remember-me="false"></script>
      <% end %>
    </div>
  </div>
</div>
