<h1>&#9996; Reading</h1>
<h3>What you're reading. Not what you like. Not what you find interesting. Just what you're reading.</h3>
<div id="welcome">
<% if current_user %>
  Welcome <%= current_user.name %>
  <%= link_to "Log Out", signout_path %>
<% else %>
  Sign up or in with <%= link_to "Twitter", "/auth/twitter" %> or <%= link_to "Facebook", "/auth/facebook" %>.
<% end %>
