<div id="titlecard">
  <%= link_to "/", :id => "brand" do %>
    <span>✌</span><br>
    <strong>Reading</strong>
  <% end %>
  <div id="colinks">
    <%= link_to 'Blog', "http://writing.#{DOMAIN}" %>
    . <%= link_to 'Twitter', 'http://twitter.com/reading' %>
    . <%= mail_to "hello@#{DOMAIN}", 'Email', :subject => 'Hey there Reading!', :encode => 'javascript', :class => 'email' %>
  </div>
</div>
